* {-moz-box-sizeing: border-box;
-webkit-box-sizing: border-box; box-sizing: 
border-box;}

/* body rules here */
body {
    font-family: Verdana;   /* designed to read on mobile devices*/
    font-size: 16px;        /* default size*/
}
/* header rules here - work way down*/
header{
    background-color: #dbe3f4;
    padding: 1rem 2%;       /* inside of box*/
}
/* header h1 is a child of header*/
header h1{
    margin: 0;
}
/* header h2 is a child of header*/
header h2{
    margin: 0;
}
/* navigation rules here*/
nav {background-color: #012778;}
nav ul {margin: 0; padding: 0;}
nav li {list-style-type: none;}
nav li.active{background-color: #333;}

nav a {display: block;
    padding: .8rem 0;  /* 44 min height*/
    color: #eee;
    text-align: center;
    text-decoration: none;
}
nav a:hover{background-color: #444;}

/* main*/
main{
    padding: 1rem 2%;
    display: block;
}

main h1{
    color: #012778;
}
main figure img{width: 100%;} 
main figure{
    width: 100%;
    margin: 0;
}
main figcaption{text-align: center;font-size: .8rem;}

/* main h2  child of main*/ 
main h2{
    color: gray;
}
main p{
    margin: 0 0 10px 0;
}
div.news{
    clear: both;
    column-count: 2;
    column-rule: 1px solid #dddddd;
}
footer{
    text-align: center;
    padding: 1rem 2%;
    background-color: #dbe3f4;

}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}


